/*********** *********** GLOBAL *********** ***********/
.color-msg {
    color: mediumseagreen;
}
.header-msg {
    background-color: mediumseagreen;
}
.border-right-msg {
    border-right: 10px solid mediumseagreen !important;
}
/*********** *********** HOUSE SECTION MODULE *********** ***********/
.house-content {
    border-bottom: 1px dashed mediumseagreen;
    margin: 20px 0;
    padding-bottom: 20px;
}
.house article {
    padding-right: 0;
    padding-left: 12px;
}
/*********** *********** BORDER COLOR MODULE *********** ***********/
.house-bg-bf {
    background-color: buttonface;
}
/*********** *********** TITLE MODULE *********** ***********/
.house-title {
    text-transform: uppercase;
    color: #fff;
    padding: 6px 30px;
    margin: 0;
    font-size: 22px;
    display: inline-block;
}
/*********** *********** HOUSE THUMB MODULE *********** ***********/
.house-thumb {
    border: 1px dashed mediumseagreen;
    border-right: none;
    display: block;
    margin-bottom: 30px;
}
.house-thumb-cap {
    padding: 2px;
}
.house-thumb-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}
.house-thumb-address {
    color: #7e7e7e;
    margin-bottom: 2px;
    font-style: italic;
}
.house-thumb-footer {
    background-color: #F7F7F7;
    padding: 6px 4px;
}
.house-thumb-price {
    float: left;
    font-style: italic;
}
.house-thumb-date {
    color: #B8B8B8;
    float: right;
    font-style: italic;
}
/*********** *********** BTN VIEW MORE MODULE *********** ***********/
.house-btn-view-more {
    text-transform: uppercase;
    background-color: #f7f7f7;
    border: 0 none;
    color: #333;
    border-radius: 0;
    padding: 10px 20px;
}
.house-btn-view-more:hover {
    background-color: mediumseagreen;
    color: #fff;
}
/*********** *********** MAP MODULE *********** ***********/
/*/!* map *!/*/
/*#map-canvas {*/
/*height: 50%;*/
/*width: 100%;*/
/*}*/
/*.iw-container { margin: 25px 0 15px 20px; width: 610px; }*/
/*.gm-style-iw { max-height: 600px; }*/
/*.iw-container  .iw-name {*/
/*font-size: 20px;*/
/*font-weight: 400;*/
/*padding: 10px;*/
/*margin: 0;*/
/*background-color: #48b5e9;*/
/*color: white;*/
/*border-radius: 2px 2px 0 0;*/
/*}*/
/*/!* search *!/*/
/*.form-search {*/
/*position: absolute;*/
/*top: 30%;*/
/*left: 30%;*/
/*background: #fff;*/
/*padding: 8px;*/
/*z-index: 10000;*/
/*border: 1px solid #ccc;*/
/*border-radius: 4px;*/
/*}*/