/*********** *********** *********** BASIC *********** *********** ***********/
html, body {
  height: 100%; /* need if used map by percent */
  padding-top: 28px;
}
a { color: #333; }
a:hover,
a:focus{
  color: mediumseagreen;
  text-decoration: none;
  outline: 0; /*removes the dotted border*/
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0
}
i {
  padding-right: 4px;
}
.container {
  width: 940px;
}
/* BUTTON */
.btn-main {
  text-transform: uppercase;
  color: #337ab7;
  border: 1px solid #337ab7;
  font-weight: 600;
  margin: 10px 0;
  border-radius: 0;
}
.btn-main:hover,
.btn-main:active {
  background: #337ab7;
  color: #fff;
}
/* SCROLL TO TOP */
.scrollToTop {
  position: fixed;
  bottom: 70px;
  right: 0;
  display: none;
}
/* PAGINATION */
.simple-pagination {
  float: right;
  font-size: 17px;
}
.simple-pagination > .pager {
  margin: 0;
}
.simple-pagination > .pager li > a,
.simple-pagination > .pager li > span {
  border-radius: 0;
}
/*********** *********** *********** SIDEBAR: BEGIN USER NAV MODULE *********** *********** ***********/
.user-nav {
  border: 1px solid #d5d8df;
  padding: 6px 2px;
  margin-bottom: 20px;
}
.user-nav li.active a,
.user-nav li a:hover,
.user-nav li a:focus {
  background-color: #d5d7de;
  color: #333;
}
.user-nav-header {
  font-size: 16px;
  padding: 2px 8px;
  color: #337AB7;
  text-transform: uppercase;
}
/*********** *********** *********** SIDEBAR: END USER NAV MODULE *********** *********** ***********/
/*********** *********** *********** MAIN: BEGIN RELATION SECTION MODULE *********** *********** ***********/
.relation {}
.relation-title {
  text-transform: capitalize;
  color: #337ab7;
  border-bottom: 1px solid #777;
  font-size: 24px;
  margin: 10px 0;
  padding: 4px 0;
}
.relation-list > li {
  padding: 4px 2px;
}
.relation-time {
  float: right;
  font-style: italic;
  font-size: 11px;
}
/*********** *********** *********** MAIN: END RELATION SECTION MODULE *********** *********** ***********/
/*********** *********** *********** MAIN:HOUSE THUMB MODULE *********** *********** ***********/
.thumb {
  border-bottom: 1px dashed #777;
  margin: 20px 0;
  padding-bottom: 20px;
}
.thumb-br-default {
  border-right: 9px solid #3CB371;
}
.thumb-item {
  border: 1px dashed #777;
  border-right: none;
  border-top: none;
  display: block;
  margin-bottom: 30px;
}
.thumb-img:hover {
  opacity: 0.8;
}
.thumb-cap {
  padding: 4px;
  height: 130px;
}
.thumb-header {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 14px;
}
.thumb-type {
  color: #337ab7;
}
.thumb-address {
  margin-bottom: 2px;
  font-style: italic;
  font-size: 12px;
}
.thumb-footer {
  background-color: #f5f5f5;
  padding: 4px;
  font-style: italic;
}
.thumb-price {
  float: left;
  color: #CD5C5C;
}
.thumb-date {
  color: #777;
  float: right;
  font-size: 11px;
  line-height: 20px;
}
.thumb-m2 {
  float: right;
}
/* THUMB EXTEND */
.thumb-title {
  text-transform: uppercase;
  color: #fff;
  padding: 8px 18px;
  margin: 0;
  font-size: 16px;
  display: inline-block;
  background-color: #337ab7;
  text-align: center;
}
.thumb-title-recomend {
  display: block;
}
/*********** *********** *********** MAIN:COMPANY MODULE *********** *********** ***********/
.company-intro {
  border-bottom: 1px dashed #777;
  margin-bottom: 20px;
  padding-bottom: 20px;
  min-height: 260px;
}
.company-description {
  margin-bottom: 20px;
}
/*********** *********** *********** MAIN:ARTICLE MODULE *********** *********** ***********/
.article {}
.article-time {
  font-style: italic;
  text-align: right;
  font-size: 11px;
}
.article li {
  padding-top: 4px;
  padding-bottom: 4px;
}
.article-title {
  color: #337ab7;
  border-bottom: 1px solid #777;
  font-size: 24px;
  margin: 10px 0;
  padding: 4px 0;
}
.article-section-title {
  background-color: #f5f5f5;
  font-size: 16px;
  margin: 10px 0;
  padding: 8px 12px;
  color: #777;
}
/* ARTICLE HEAD SECTION */
.article-head {}
.article-head-address {
  color: #777;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 4px;
}
.article-head-fb-like {
  text-align: right;
}
.article-head-price {
  color: #CD5C5C;
  font-size: 20px;
}
.article-head-date {
  color: #777;
  font-style: italic;
  text-align: right;
}
.article-head-code {
  color: #777;
  font-style: italic;
}
/* ARTICLE DESCRIPTION SECTION */
.article-description {
  color: #777;
  font-style: italic;
  margin-top: 10px;
  margin-left: 12px;
}
/* ARTICLE DETAIL SECTION */
.article-detail {}
.article-detail ul {
  margin-left: -3px;
}

.article-detail li  {
  color: #777;
}
.article-detail li.active {
  color: #333;
}
.article-detail li.active span {
  color: #3cb371;
}
/* ARTICLE FEATURE SECTION */
.article-feature {}
.article-feature ul {
  margin-left: -9px;
}
.article-feature li  {
  color: #a5a5a5;
  padding-left: 24px;
  padding-right: 8px;
}
.article-feature li .glyphicon {
  display: none;
}
.article-feature li.active {
  color: #333;
  padding-left: 10px;
}
.article-feature li.active .glyphicon {
  color: #3CB371;
  padding-right: 4px;
  font-size: 10px;
  display: inline;
}
/*********** *********** *********** CONTACT INFO MODULE *********** *********** ***********/
.contact-info {
  padding: 14px;
  border: 1px dashed #777;
  margin-bottom: 20px;
}
.contact-info-header {
  color: #337ab7;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.contact-info ul {
  font-style: italic;
  font-size: 12px;
  color: #777;
}
/*********** *********** *********** LAYOUT *********** *********** ***********/
/*********** *********** MAP MODULE *********** ***********/
.map-container {
  position: relative;
}
/* map */
/*.iw-container { margin: 25px 0 15px 20px; width: 610px; }*/
/*.gm-style-iw { max-height: 600px; }*/
/*.iw-container  .iw-name {*/
  /*font-size: 20px;*/
  /*font-weight: 400;*/
  /*padding: 10px;*/
  /*margin: 0;*/
  /*background-color: #48b5e9;*/
  /*color: white;*/
  /*border-radius: 2px 2px 0 0;*/
/*}*/

/* search */
.form-search {
  position: absolute;
  top: 0;
  right: 20%;
  background: #fff;
  padding: 8px;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.select2-container {
  min-width: 150px;
  z-index: 99999;
}
.select2-container .select2-selection--single {
  height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}
/*********** *********** SOCIAL MODULE *********** ***********/
.navbar-social {
  padding: 15px 15px 10px;
}
.footer-social {
  float: right;
}
.social-facebook,
.social-tweet,
.social-google {
  background-image: url("/images/social.png");
  display: inline-block;
  height: 20px;
  margin-left: 10px;
}
.social-facebook {
  background-position: 0 0;
  width: 20px;
}
.social-facebook:hover {
  background-position: -20px 0;
}
.social-tweet {
  background-position: -40px 0;
  width: 27px;
}
.social-tweet:hover {
  background-position: -69px 0;
}
.social-google {
  background-position: -96px 0;
  width: 26px;
}
.social-google:hover {
  background-position: -122px 0;
}
/*********** *********** MAP *********** ***********/
.tab-map-image360 {
  bottom: -35px;
  position: absolute;
  right: 196px;
  z-index: 999;
}
.iw-container  .iw-name {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin: 0;
  background-color: #48b5e9;
  color: white;
  border-radius: 2px 2px 0 0;
}
.collapse-search-in {top: 0}
.form-search-block {
  display: inline-block;
}
/*********** *********** BREADCRUMB *********** ***********/
.breadcrumb-container {
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.breadcrumb {
  margin-bottom: 0;
}
/* NAVBAR */
.navbar {
  margin-bottom: 0;
  z-index: 999999;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 500;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #22be73;
}
/* avatar */
.navbar-avatar {
  margin: 7px;
}
.navbar-avatar img {
  display: inline;
  height: 36px;
  width: 36px;
  border: 1px solid #ccc;
}
.navbar .open > a,
.navbar .open > a:focus,
.navbar .open > a:hover {
  background-color: #F8F8F8;
}
/* LOGIN & REGISTER */
.well {
  background-color: #fff;
  width: 276px;
}
.tab-content {
  margin-top: 10px;
}
.help-block a {
  color: #737373;
}
.help-block a:hover {
  color: #22be73;
}
/*********** *********** MAIN *********** ***********/
.main {
  overflow: hidden;
}
/*********** *********** FOOTER *********** ***********/
.footer {
  padding-top: 80px;
  background-color: #82A28B;
  border-top: 6px solid mediumseagreen;
  font-size: 13px;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-header {
  color: #fff;
  font-size: 16px;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer ul li a {
  display: block;
  color: #f2f2f2;
  padding: 6px 0;
}
.footer ul li a:hover,
.footer ul li a:focus {
  color: #3c5543;
}
.footer-site-generator {
  border-top: 1px solid #6e8875;
  color: #f2f2f2;
  margin-top: 60px;
  padding: 20px 0;
}