.sidebar {
  background-color: #e5e8ef;
  padding: 0;
}
.main {
  padding: 0;
}
/*********** *********** TABLE MODULE *********** ***********/
.table {
  border: 1px solid #d3d3d3;
}
.table > tbody > tr > td:hover {
  cursor: pointer;
}
.table > tbody > tr.unread {
  background-color: #f7f7f7;
  font-weight: 600;
}
/*********** *********** PAGINATION MODULE *********** ***********/
.simple-pagination {
  float: right;
}
.simple-pagination > .pager {
  margin: 0;
}
.simple-pagination > .pager li > a,
.simple-pagination > .pager li > span {
  border-radius: 2px;
}
/*********** *********** USER HEAD COMPONENT *********** ***********/
.user-head {
  background-color: #00a8b3;
  height: 80px;
  padding: 10px;
}
.user-head-avatar,
.user-head-body
{
  float: left;
}
.user-head-body {
  margin-left: 10px;
}
.user-head-body > h5 {
  margin-bottom: 0;
  margin-top: 15px;
}
.user-head-body > h5 > a {
  color: #fff;
}
.user-head-body > a {
  color: #6ad6e7;
  font-size: 11px;
}
.user-head > button {
  background-color: #80d3d9;
  color: #01a7b3;
  font-size: 10px;
  margin-top: 20px;
  padding: 3px 5px;
  float: right;
}
/*********** *********** MAIN HEAD COMPONENT *********** ***********/
.main-head {
  background-color: #41cac0;
  color: #fff;
  min-height: 80px;
  padding: 20px;
}
.main-head > h3 {
  display: inline-block;
  margin: 0;
  padding-top: 8px;
}
.main-head-input {
  border: medium none;
  border-radius: 4px 0 0 4px;
  color: #8a8a8a;
  float: left;
  height: 40px;
  padding: 0 10px;
}
.main-head-btn {
  background-color: #00a6b2;
  border-radius: 0 4px 4px 0;
  color: #fff;
  height: 40px;
}
/*********** *********** MESSAGE TOOLBAR COMPONENT *********** ***********/
.message-toolbar {
  margin-bottom: 10px;
}
.message-toolbar .dropdown {
  display: inline-block;
}









.main-body {
  padding: 20px;
}
.btn-compose {
  background: none repeat scroll 0 0 #ff6c60;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}
.btn-compose:hover {
  background: none repeat scroll 0 0 #f5675c;
  color: #fff;
}
ul.inbox-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.inbox-divider {
  border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
  display: inline-block;
  line-height: 45px;
  width: 100%;
}
ul.inbox-nav li a {
  color: #6a6a6a;
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}
ul.inbox-nav li a i {
  color: #6a6a6a;
  font-size: 16px;
  padding-right: 10px;
}
ul.inbox-nav li a span.label {
  margin-top: 13px;
}
ul.labels-info li h4 {
  color: #5c5c5e;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-transform: uppercase;
}
ul.labels-info li {
  margin: 0;
}
ul.labels-info li a {
  border-radius: 0;
  color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
  background: none repeat scroll 0 0 #d5d7de;
  color: #6a6a6a;
}
ul.labels-info li a i {
  padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
  color: #9d9f9e;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0 22px;
}


ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}