/*********** MAIN: COMPANY ***********/
.company-info {
  border-bottom: 1px dashed #777;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.company-info-title {
  color: #68CFD8;
  margin-bottom: 20px;
}
.company-media {
  border-right: 9px solid #68CFD8;
}
.company-info .media-heading {
  text-transform: uppercase;
  color: #4b4b4b;
}
.company-info .media {
  background-color: #F7F7F7;
  padding: 20px 25px 15px;
}
.company-info .media-left {
  padding-right: 25px;
  text-align: center;
}
.company-info .media-body > ul,
.company-info .media-body > ul a {
  color: #A3A3A3;
  font-size: 11px;
}
/*********** END MAIN: COMPANY ***********/
/*********** MAIN: THUMB DeSign ***********/
.thumb-item-ds {
  display: block;
  font-size: 13px;
  margin-bottom: 30px;
  border: 1px dashed #777;
}
.thumb-img-ds {
  display: block;
}
.thumb-img-ds > img:hover {
  opacity: 0.8;
}
.thumb-content-ds {
  padding: 4px;
}
.thumb-title-ds {
  font-weight: normal;
  height: 36px;
  line-height: 18px;
  margin-bottom: 4px;
  margin-top: 0;
  font-size: 14px;
}
.thumb-footer-ds {
  background-color: #f5f5f5;
  font-style: italic;
  padding: 4px;
  color: #3195af;
}
/*********** END MAIN: THUMB DeSign ***********/
/*********** MAIN: THUMB Static ***********/
.thumb-item-s {
  display: block;
  font-size: 13px;
  margin-bottom: 30px;
  border: 1px dashed #777;
  background-color: #F5F5F5;
}
.thumb-img-s {
  display: block;
}
.thumb-img-s > img:hover {
  opacity: 0.8;
}
.thumb-title-s {
  font-weight: normal;
  margin: 0;
  padding: 8px;
  font-size: 17px;
  text-align: center;
}
/*********** END MAIN: THUMB Static ***********/