/*********** *********** *********** HOUSE DETAIL PAGE *********** *********** ***********/
.contact-info {
    background-color: #F8F8F8;
    list-style: outside none none;
    padding: 15px 20px 30px;
    margin-bottom: 30px;
}
.contact-info-header {
    color: #337AB7;
    text-transform: uppercase;
    font-size: 20px;
}

/*********** *********** BORDER COLOR MODULE *********** ***********/
.house-bg-bf {
    background-color: buttonface;
}
/*********** *********** HOUSE SECTION MODULE *********** ***********/
.house-title {
    text-transform: uppercase;
    color: #fff;
    padding: 6px 30px;
    margin: 0;
    font-size: 22px;
    display: inline-block;
    background-color: #337ab7;
}
.house-content {
    border-bottom: 1px dashed mediumseagreen;
    margin: 20px 0;
    padding-bottom: 20px;
}
.house-br {
    border-right: 10px solid mediumseagreen !important;
}
.house-content > article {
    padding-right: 0;
    padding-left: 12px;
}
/*********** *********** MAP MODULE *********** ***********/
/*/!* map *!/*/
/*#map-canvas {*/
/*height: 50%;*/
/*width: 100%;*/
/*}*/
/*.iw-container { margin: 25px 0 15px 20px; width: 610px; }*/
/*.gm-style-iw { max-height: 600px; }*/
/*.iw-container  .iw-name {*/
/*font-size: 20px;*/
/*font-weight: 400;*/
/*padding: 10px;*/
/*margin: 0;*/
/*background-color: #48b5e9;*/
/*color: white;*/
/*border-radius: 2px 2px 0 0;*/
/*}*/
/*/!* search *!/*/
/*.form-search {*/
/*position: absolute;*/
/*top: 30%;*/
/*left: 30%;*/
/*background: #fff;*/
/*padding: 8px;*/
/*z-index: 10000;*/
/*border: 1px solid #ccc;*/
/*border-radius: 4px;*/
/*}*/