.form-title {
  font-size: 18px;
  padding: 6px 12px;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: #F0F0F0;
}
.select2-container .select2-selection--single {
  height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}
.form-group > li {
  padding-left: 10px;
  padding-right: 10px;
}
.form-group .checkbox {
  margin-bottom: 4px;
  margin-top: 4px;
}
.btn-form-upload {
  text-transform: uppercase;
  color: #337ab7;
  border: 1px solid #337ab7;
  font-weight: 600;
  margin: 10px 0;
  border-radius: 0;
}
.btn-form-upload:hover,
.btn-form-upload:active {
  background: #337ab7;
  color: #fff;
}